{% extends 'backindex.html' %}
{% block back %}
  <div class="content-about">
    <h1 class="head-about">About ThinkBig Data</h1>
    <p>At ThinkBig Data, we have some extraordinary mentors. Most important thing is our passion, dedication, potential and hard work which we apply together to make changes in our respective fields. ThinkBig Data is the way to introduce to the people the knowledge of big data and its different tools starting from basic to advanced technology. The main objective of ThinkBig Data is to provide the best outcomes of your respective fields. We are defined to work on any type of data like historical data, customer data, real time data, sales marketing and many more.</p>
  </div>
  <div class="content-about">
    <h2 class="head-about">Our Values</h2>
    <strong>MISSION:</strong>
    <p>Xebia India pvt ltd is the technical partner of ThinkBig Data. Xebia is always on the lookout for extraordinary people. They give you space and power to become your best in a community of ambitious and talented peers.</p>

    <strong>VISION:</strong>
    <p>As per the knowledge, Big Data and its tools are going to widely used in upcoming years. So you need to have good understanding of how big data works. ThinkBig Data is providing you the ease of understanding Big Data and its tools.</p> 
  </div>
{% endblock %}