{% extends 'backindex.html' %}
{% block back %}
<form action="/admin/ChangePassword" method="POST">
      <h1 class="head-about">Change Password</h1>
      <center>
      <input class="textbox" type="password" name="old-password" placeholder="Old Password"  maxlength="30" required><br><br>
      <input class="textbox" type="password" name="new-password" placeholder="New Password"  maxlength="30" required><br><br>
      <input class="textbox" type="password" name="rep-password" placeholder="Repeat Password"  maxlength="30" required><br><br>
      <button class="but" type="submit">Change</button></center><br>
</form>
{% include 'alert.html' %}
{% endblock %}