{% extends 'index.html' %}
{% block content %}
<br><br><br>
<center>
<a href="{{url_for('about')}}"><img src="{{url_for('static', filename='LOGO.jpeg')}}" class="image" /></a>
<form action="/LogIn" method="POST">
      <h1 class="head-about">Log In</h1>
      <input class="textbox" type="text" name="username" placeholder="Username"  maxlength="30" required><br><br>
      <input class="textbox" type="password" name="password" placeholder="Password"  maxlength="30" required><br><br><button class="but" name="login-submit" value= "Log In" type="submit">Login</button><br><br>
</form>
Forgot your login details? <a href="{{url_for('forgetpassword')}}" style="text-decoration:none" class="forget">Get help signing in.</a><br><br>
Don't have an account? <a href="{{url_for('signup')}}" style="text-decoration:none" class="head-about">SignUp</a><br><br>
<path d="M170.544,239.052L50,146.454v213.142L170.544,239.052z M460.928,103.407H51.416l204.593,157.162L460.928,103.407z M313.355,260.696l-57.364,43.994l-57.454-44.135L50.5,408.593h410.751L313.355,260.696z M341.367,239.212L462,359.845V146.693L341.367,239.212z"/></svg><a href="{{url_for('contact')}}" class="head-about" style="text-decoration:none" >Contact Us</a></center><br>
{% include 'alert.html' %}
{% endblock %}