{% extends 'backindex.html' %}
{% block back %}
<form action="/resetpassword/{{reset}}" method="POST">
      <h1 class="head-about">Reset Password</h1>
      <center>
      <input class="textbox" type="password" name="new-password" placeholder="New Password"  maxlength="30" required><br><br>
      <input class="textbox" type="password" name="rep-password" placeholder="Repeat Password"  maxlength="30" required><br><br>
      <button class="but" name="login-submit" value= "Log In" type="submit">Save</button></center><br>
</form>
{% include 'alert.html' %}
{% endblock %}